<article class="post-type-{{ post.post_type }} {{ post.class }}" id="post-{{ post.ID }}">

    {% block content %}

        {# Begin Entry Header #}
        <section class="entry-header">
            {# Begin Featured Image #}
            {% if gantry.config.get('content.' ~ scope ~ '.featured-image.enabled', '1') and post.thumbnail.src %}
                {% set position = (gantry.config.get('content.' ~ scope ~ '.featured-image.position', 'none') == 'none') ? '' : 'float-' ~ gantry.config.get('content.' ~ scope ~ '.featured-image.position', 'none') %}
                <div class="img-effect--wrap">
                  <figure class="img-effect">
                    <img src="{{ post.thumbnail.src|resize(gantry.config.get('content.' ~ scope ~ '.featured-image.width', '1200'), gantry.config.get('content.' ~ scope ~ '.featured-image.height', '350')) }}" class="featured-image tease-featured-image {{ position }}" alt="{{ post.title }}" />
                    <figcaption>
                      <div>
                        <h2>{{ post.title }}{% if post.get_field('suffix') is not empty %}<span>, {{ post.get_field('suffix') }}</span>{% endif %}</h2>
                        {% if post.get_field('title') is not empty %}
                          <p>{{ post.get_field('title') }}</p>
                        {% endif %}
                      </div>
                      <a href="{{ post.link }}">Learn More</a>
                    </figcaption>
                  </figure>
                </div>
            {% endif %}
            {# End Featured Image #}

        </section>
        {# End Entry Header #}

    {% endblock %}

</article>
