{% set twigTemplate = 'listpages-widget.html.twig' %}
{% set scope = 'blog' %}

{% if childpages is not empty %}
  {{widget.args.before_widget}}
    <div class="widgetpin">
      {% if widget.instance.title is not empty %}
        {{widget.args.before_title ~ widget.instance.title ~ widget.args.after_title}}
      {% endif %}


      <ul>
          {% for page in childpages %}
              <li><a class="smoothscroll" href="#post-{{page.id}}">{{page.title}}</a></li>
          {% endfor %}
      </ul>
    </div>
  {{widget.args.after_widget}}
{% endif %}
